---
layout: page
description: "A Clean Blog Theme by Start Bootstrap"
---

{% for post in paginator.posts %}
<div class="post-preview">
    <div class="col-md-1">
        <div class="row">
            {{ post.date | date: "%d" }}
        </div>
        <div class="row">
            {% assign m = page.date | date: "%-m" %}
            {% case m %}
                {% when '1' %}Ene
                {% when '2' %}Feb
                {% when '3' %}Mar
                {% when '4' %}Abr
                {% when '5' %}May
                {% when '6' %}Jun
                {% when '7' %}Jul
                {% when '8' %}Ago
                {% when '9' %}Sep
                {% when '10' %}Oct
                {% when '11' %}Nov
                {% when '12' %}Dic
            {% endcase %}
            {{ m }}
        </div>
    </div>

    <div class="col-md-11">
        <div class="row">
            <a href="{{ post.url | prepend: site.baseurl }}">
                <h2 class="post-title">
                    {{ post.title }}
                </h2>
                {% if post.subtitle %}
                <h3 class="post-subtitle">
                    {{ post.subtitle }}
                </h3>
                {% endif %}
            </a>
        </div>
        {% if post.featured-img %}
        <img src="{{ post.featured-img }}" >
        {% endif %}

        <div class="post-categories">
            {% if post %}
            {% assign categories = post.categories %}
            {% else %}
            {% assign categories = page.categories %}
            {% endif %}
            {% for category in categories %}
            <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
            {% unless forloop.last %}&nbsp;{% endunless %}
            {% endfor %}
        </div>
        <p>{{ post.excerpt }}</p>

        <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
    </div>
    <hr>
    {% endfor %}
    </div>



<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}


