<footer class="site-footer">

  <div class="wrapper">

<!--    <span class="footer-heading">{{ site.title }}</span>-->

    <div class="row">
      <div class="offset-by-four four columns contacto">
        <ul>
          <li>
            <a class="email" href="mailto:{{site.email}}">
              <i class="fa fa-envelope fa-4x" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a class="email" href="mailto:{{site.email}}">
              <i class="fa fa-phone-square fa-4x" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</footer>
