<div class="post-heading">
    {% if page.author %}
        <div class="chip">
            {% for author in site.data.authors %}
                {% if author.nick == page.author  %}
                    <!--<img src="{{ author.email | gravatar }}" alt="Contact Person">-->
                    <img src="{{ author.gravatar }}" alt="Contact Person">
                    {{ author.name }}
                {% else}
                    {% break %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    <h3 class="meta text_b">{{ page.date | date: "%B %-d, %Y" }}</h3>
</div>