<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h1 class="text_h center header cd-headline letters type">
            <span>I Love writing about</span><br>
      <span class="cd-words-wrapper waiting">
          {% for category in site.categories %}
             {% capture category_name %}{{ category | first }}{% endcapture %}
                 {% if forloop.index == 1 %}
                    <b class="is-visible">
                        {{category_name}}
                    </b>
                 {% else %}
                    <b>
                        {{category_name}}
                    </b>
                 {% endif %}

          {% endfor %}
      </span>
        </h1>
    </div>
</div>