<!DOCTYPE html>
<html lang="es">
{% include head.html %}
    <body id="top" class="scrollspy">
    {% include preloader.html %}
    {% include nav.html %}
    {% include slide_single.html %}

    <!--POST HEADER-->
    <header class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <br><br>
                    <div class="post-heading">
                        {% if page.author %}
                            <div class="chip">
                                    {% assign author = site.data.authors[page.author] %}
                                    <!--<img src="{{ author.email | gravatar }}" alt="Contact Person">-->
                                    <img src="{{ author.gravatar }}" alt="Contact Person">
                                    {% if page.author %}
                                        {{ author.name }}
                                    {% endif %}
                            </div>
                        {% endif %}
                        <span class="meta">{{ page.date | date: "%B %-d, %Y" }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <!-- POST CONTENT -->
                    {{ content }}
                    <hr>
                    <!--PAGER-->
                    {% include pager.html %}
                </div>
            </div>
        </div>
    </article>
    <hr>
    <!--RELATED POSTS-->
    {% include related_posts.html %}
    <!--FOOTER-->
    {% include footer.html %}
    </body>
</html>